pipeline/Clean File Formats.json
{
	"name": "Clean File Formats",
	"properties": {
		"activities": [
			{
				"name": "Get all fileformats on Delphix Engine",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('http://',pipeline().parameters.MaskingEngineIP,'/masking/api/v5.1.11/file-formats')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Accept": "application/json",
						"Authorization": {
							"value": "@pipeline().parameters.authkey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check if fileFormat should exist",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get all fileformats on Delphix Engine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all fileformats on Delphix Engine').output.responseList",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Append uploaded file Format",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "UploadedFileformatArray",
								"value": {
									"value": "@concat(item().fileFormatName,':',string(item().fileFormatId))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Clean up file formats",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter fileFormats to be cleaned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter fileFormats to be cleaned').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set fileToDelete",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileToDelete",
								"value": {
									"value": "@split(item(),':')[1]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check if the fileFormat was just uploaded",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set fileToDelete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(contains(item(), pipeline().parameters.PipelineRunId))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Delete file format",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat('http://',pipeline().parameters.MaskingEngineIP,'/masking/api/v5.1.11/file-formats/',variables('FileToDelete'))",
												"type": "Expression"
											},
											"method": "DELETE",
											"headers": {
												"Accept": "application/json",
												"Authorization": {
													"value": "@pipeline().parameters.authkey",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set uploadStatus",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Delete file format",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "uploadStatus",
											"value": {
												"value": "@activity('Delete file format').output.errorMessage",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter fileFormats to be cleaned",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Check if fileFormat should exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('UploadedFileformatArray')",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(),pipeline().parameters.FilenameToClean)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FilenameToClean": {
				"type": "string"
			},
			"MaskingEngineIP": {
				"type": "string"
			},
			"LogicappURL": {
				"type": "string"
			},
			"PipelineRunId": {
				"type": "string"
			},
			"authkey": {
				"type": "string"
			}
		},
		"variables": {
			"UploadedFileformat": {
				"type": "String"
			},
			"UploadedFileformatArray": {
				"type": "Array"
			},
			"masterabc": {
				"type": "String"
			},
			"FilenameToCheck": {
				"type": "String"
			},
			"FileToDelete": {
				"type": "String"
			},
			"DeleteFile": {
				"type": "String"
			},
			"RunId": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			},
			"FileContent": {
				"type": "String"
			},
			"FileNameWithRunId": {
				"type": "String"
			},
			"ifcond": {
				"type": "Boolean"
			},
			"wastevar": {
				"type": "String"
			},
			"sourceRuleset": {
				"type": "Boolean"
			},
			"targetRuleset": {
				"type": "Boolean"
			},
			"schemaName": {
				"type": "Array"
			},
			"uploadStatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delphix Continous Compliance"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-11T08:05:16Z"
	}
}