pipeline/Invoke atomic masking job.json
{
	"name": "Invoke atomic masking job",
	"properties": {
		"activities": [
			{
				"name": "Trigger Masking Job",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json",
						"Authorization": {
							"value": "@pipeline().parameters.authkey",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\"jobId\":@{pipeline().parameters.job}}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Polling",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Trigger Masking Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('Check masking job in polling').output.status, 'SUCCEEDED'),or(equals(activity('Check masking job in polling').output.status,'FAILED'),or(equals(activity('Check masking job in polling').output.status,'CANCELLED'), equals(activity('Check masking job in polling').output.status,'NON-CONFORMANT'))))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Status Polling",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check masking job in polling",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@activity('Check masking job in polling').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check masking job in polling",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions/', activity('Trigger Masking Job').output.executionId)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Content-Type": "application/json",
									"Accept": "application/json",
									"Authorization": {
										"value": "@pipeline().parameters.authkey",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "If final status of the job is FAILED",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Polling",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('Check masking job in polling').output.status, 'FAILED'),equals(activity('Check masking job in polling').output.status, 'CANCELLED'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Job Result",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "result",
								"value": {
									"value": "@concat('Job: ', activity('Check masking job in polling').output.jobId, ' succeeded')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Failure",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Job: ', activity('Check masking job in polling').output.jobId, ' failed. Please check the masking engine logs.')",
									"type": "Expression"
								},
								"errorCode": "1"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"job": {
				"type": "string"
			},
			"authkey": {
				"type": "string"
			},
			"maskingengineip": {
				"type": "string"
			}
		},
		"variables": {
			"result": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"sourceSetup": {
				"type": "Boolean"
			},
			"maskingSetupSuccess": {
				"type": "Boolean"
			},
			"Execution": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Delphix Continous Compliance"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-09T04:14:55Z"
	}
}